/* swiper */
#brochure .black-container {
    background: url(../images/brochure-bg.jpg);
    width: 100vw;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
}
#brochure .btn-products {
    position: relative;
    padding: 0.5rem 1.2rem;
    border-radius: 48px;
    justify-content: space-between;
    margin: 0;
    z-index: 1;
}

#brochure .pdf-name {
    color: #fff;
    margin: 1rem 0;
}
#brochure .swiper {
  margin: 0;
  height: 100%;
  padding: 2px 0;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
[swiper_scale_active] .swiper-slide {
    text-align: center;
    font-size: 18px;
    border-color: transparent;
}
  
  
[swiper_scale_active] .swiper-slide img {
    object-fit: contain;
    background: transparent;
    filter: drop-shadow(0px 0px 2px #fff);
}
  
  /* CUSTOM CSS "TRICK" => the link should work only on the active slide  */
  [swiper_scale_active] .swiper-slide:not(.swiper-slide-active) a{
    pointer-events: none;
  }

  .swiper-slide:not(.swiper-slide-active) a {
    display: none !important;
}
  
  /* #### CUSTOM NEXT/PREV #### */
  [btn_group] {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-right: 1rem;
}
  
  [btn_group] button{
    background: transparent;
    padding: 10px 16px;
    border-width: 0px;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.5s linear;
  }
  
  [btn_group] button:hover{
    opacity: 1;
  }
  
  [btn_group] svg{
    color: white;
  }
  #brochure .swiper-slide:not(.swiper-slide-active) {
    opacity: 1 !important;
    filter: brightness(0.3);
    transform: scale(0.8); 
}


/* 最后一个轮播项去除右侧间距 */
.swiper-slide:last-child {
    margin-right: 0 !important;
}

/* Media */

/* xxl */
@media (max-width: 1399.98px) { 


}

/* xl */
@media (max-width: 1199.98px) { 
  #brochure .btn-products{
    width: 100%;
  }
}
/* lg */
@media (max-width:991.98px) { 



}
/* md */
@media (max-width: 767.98px) { 
}

/* sm */
@media (max-width:575.98px) {
  #brochure .btn-products {
    width: 100%;
    font-size: 0.7rem;
}
#brochure iframe {
  height: 300px;
}
.modal.fade .modal-dialog {
  transform: translateY(calc(-50% + -150px)) !important;
}

}
