@charset "UTF-8";

body {
  font-family: '微軟正黑體', 'Malgun Gothic', Dotum, Tahoma, sans-serif;
  background-color: #111111;
  color: #fff;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

#gotop {
  display: block;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 999;
}

:focus {
  outline: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
}

h2 {
  margin: 80px 0 30px;
  font-weight: 700;
}

.row.five-gutters {
  margin-right: -5px;
  margin-left: -5px;
}

.thumbnail {
  background-color: #fff;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}

.row.five-gutters [class^='col-'],
.row.five-gutters [class*=' col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-on {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  z-index: 0;
}

.goh_submit,
.navbar-inverse .navbar-nav>li>a,
.navbtn>ul>li>a,
.sideBtn ul>li>a,
#gotop {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}


/* muice */

/* modal */
button.close {
  width: 54px;
  height: 54px;
  background: url(../images/close.png) no-repeat top;
  overflow: hidden;
  text-indent: -10000em;
  cursor: pointer;
  border: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -54px;
  z-index: 999;
  background-size: 100% auto;
}

.modal-dialog {
  top: 10%;
  opacity: 0;
}

.show .modal-dialog {
  opacity: 1;
  top: 50%;
  pointer-events: auto;
  transform: translateY(-50%) !important;
  transition: all .5s ease-in-out;
}

#picModal .modal-body {
  padding: 0;
  text-align: center;
}

.modal-backdrop {
  opacity: 0.5;
}

.modal-footer {
  padding: 10px 30px 10px;
  text-align: right;
  border: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  left: 0;
  right: 0;
}


/* modal */


/* header */
#header {
  background: url(../images/header_bg.jpg) no-repeat 50% 0;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  padding-top: 50px;
}

#header .contents {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-40%);
  -o-transform: translateY(-40%);
  transform: translateY(-40%);
  z-index: 7;
}

#header .title {
  position: relative;
}

#header .muice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#scene {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}

.char {
  width: 100%;
  height: 100%;
}

.char-main0 {
  background: transparent url(../images/mm-1.png) no-repeat 0 0;
  margin-left: -615px;
  width: 693px;
  height: 691px;
}

.char-main1 {
  background: transparent url(../images/mm-2.png) no-repeat 0 0;
  margin-left: -265px;
  width: 649px;
  height: 826px;
}

.char-main2 {
  margin-left: -189px;
  width: 746px;
  height: 618px;
  background: transparent url(../images/mm-3.png) no-repeat 0 0;
}

.char-main0,
.char-main1,
.char-main2 {
  position: absolute;
  left: 50%;
  top: 100px;
  background-size: 100% auto !important;

}

.char1 {
  z-index: 9;
}

.titleBox {
  margin: -45px 0 0;
}

.down-btn {
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 99px;
  position: absolute;
  z-index: 8;
  bottom: 100px;
  animation: baloon 1.5s infinite;
}

/* header */

/* 中間選單 */
.navbtn {
  position: relative;
  width: 100%;
  background: #33313e;
  text-align: center;
}

.navbtn>a {
  color: #9d9d9d;
  font-size: 18px;
  padding: 30px 50px;
  display: inline-block;
}

.navbtn>a:hover,
.navbtn>a.active {
  color: #fff;
  background-color: #222029 !important;
  text-decoration: none;
  border-radius: 0;
}

/* 中間選單 */

/* sidebar */
.fixedBox {
  position: fixed;
  width: 200px;
  height: 326px;
  bottom: 0px;
  right: 0;
  background: transparent url(../images/side-bar.png) no-repeat 100% 0;
  padding: 0;
  overflow: hidden;
  z-index: 999;
  transition: 1s all;
}

.btn-on {
  position: absolute;
  width: 40px;
  height: 100%;
  z-index: 99;
  border: none;
  outline: none;
  background: transparent url(../images/side-bar-arrow-on.jpg) no-repeat 0 100%;
  bottom: 0;
  left: 0;
}

.iconBox {
  position: absolute;
  bottom: 8px;
  left: 49px;
}

.googlePlayBtn {
  background: transparent url(../images/google_icon.png) no-repeat 0 0;
  margin: 0 0 5px;
  background-size: 100% auto;
}

.appleStoreBtn {
  background: transparent url(../images/app_icon.png) no-repeat 0 0;
  background-size: 100% auto;
}

.googlePlayBtn,
.appleStoreBtn {
  display: block;
  width: 141px;
  height: 45px;
  text-indent: -999999em;
}

.fixedBox.off .btn-on {
  background: transparent url(../images/side-bar-arrow.jpg) no-repeat 0 100%;
}

.fixedBox.off {
  right: -160px;
}

.btn-on:hover {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}

.sideBtn {
  position: fixed;
  right: 50px;
  top: 100px;
  z-index: 999;
}

.sideBtn ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sideBtn ul>li {
  margin: 0 0 10px;
}

.sideBtn ul>li>a,
#gotop {
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  border-radius: 50%;
  color: #fff;
  background: #010101;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
}

.sideBtn ul>li>a:hover,
.sideBtn ul>li>a:focus,
.sideBtn ul>li>a.active,
#gotop:hover {
  background: #f2d010;
  color: #010101;
  outline: none;
}

/* sidebar */

#tab-1,
#tab-2,
#tab-3,
#tab-4 {
  background-size: cover !important;
  position: relative;
  z-index: 2;
  padding: 0 0 150px;
  overflow: hidden;
}

#tab-1 {
  background: #e14546;
}

#tab-2 {
  background: #62ad63;
}

#tab-3 {
  background: #57d4dd;
}

#tab-4 {
  background: #4f6ed3;
}

/* 背景影片 */
.fullscreen .start {
  background: transparent url(../images/btn.png) no-repeat 0 -256px;
  width: 163px;
  height: 163px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-left: -81.5px;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  outline: none;
  border: none;
}

.fullscreen {
  height: 100vh;
  position: relative;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.fullscreen-bg:after {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, .25) url(../images/ptn2.png) 50% 0 repeat;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  display: block;
}

.fullscreen h2 {
  position: relative;
  z-index: 9;
  padding: 80px 0;
}

/* 背景影片 */
/* 文字敘述 */
.txtBox {
  background: transparent url(../images/txtbg.png) repeat 0 0;
  border: 1px solid #c79edc;
  padding: 50px;
  z-index: 8;
  position: relative;
  height: 500px;
}

.txtBox:before {
  width: 30px;
  height: 30px;
  border: 1px solid #c79edc;
  content: '';
  position: absolute;
  left: -15px;
  top: -15px;
}

.txtBox:after {
  width: 30px;
  height: 30px;
  border: 1px solid #c79edc;
  content: '';
  position: absolute;
  right: -15px;
  bottom: -15px;
}

.txtBox p {
  font-size: 16px;
  line-height: 1.8;
  margin: 0 auto;
  color: #fff;
  margin: 0;
  overflow-y: scroll;
  height: 100%;
  padding-right: 15px;
}

.txtBox p::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #6e5b75;
}

.txtBox p::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

.txtBox p::-webkit-scrollbar-thumb {
  background-color: #a443db;
  border: 2px solid #c68ada;
  height: 10px;
}

/* 文字敘述 */
/* 地圖資訊 */
.mapBox {
  background: #f2d010;
  padding: 30px;
  border: 2px solid #000;
}

.mapInfo ul li {
  font-size: 18px;
  line-height: 2;
  color: #000;
}

/* 地圖資訊 */
.tabs {
  display: block;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.item {
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 380px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 15px auto;
  background: transparent;
  text-align: center;
  cursor: pointer;
}

.item:hover {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.item-1 {
  background-image: url(../images/item-1.png);
}

.item-2 {
  background-image: url(../images/item-2.png);
}

.item-3 {
  background-image: url(../images/item-3.png);
}

.item-1:hover {
  background-image: url(../images/item-1-hover.png);
}

.item-2:hover {
  background-image: url(../images/item-2-hover.png);
}

.item-3:hover {
  background-image: url(../images/item-3-hover.png);
}

.radio input {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

label {
  display: inline;
  vertical-align: middle;
}

.formTitle {
  margin: 0 auto 42px;
  width: 350px;
  text-align: center;
}

.formTitle2 {
  margin: 0 auto;
  width: 415px;
  text-align: center;
}

.formTitle3 {
  margin: 0 auto;
  width: 480px;
  text-align: center;
}

.register {
  width: 613px;
  margin: 0 auto;
  overflow: hidden;
}

.note {
  color: #e14546;
}

.goh_form_group {
  width: 100%;
  margin: 20px auto;
}

.center-block {
  margin-top: 50px;
}

.goh_submit {
  background: #111;
  padding: 18px 70px;
  border: none;
  font-size: 18px;
  color: #fff;
}

.goh_submit:hover,
.goh_submit:focus,
.goh_submit:active,
.icon a:hover {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}

.form-control {
  border-radius: 0px;
  border: 3px #9a8353 solid;
  width: 100% !important;
  height: 40px;
  background: #fffee2;
  font-size: 16px;
}

.awardBox {
  text-align: center;
  margin: 0 0 80px;
}

div.awardBox .row>div:last-child {
  margin-top: -30px;
}

.get:after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  background: transparent url(../images/get.png) no-repeat 0 0;
  width: 70px;
  height: 140px;
  background-size: contain;
  margin-left: -35px;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.get:before {
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  width: 95%;
  height: 95%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  margin: 0 auto;
}

.awardTxt {
  color: #fff;
  font-size: 17px;
}

.acount ul {
  padding: 0 58px;
  margin: 0 auto;
  background: transparent url(../images/acount_bg.png) no-repeat 0 0;
  width: 730px;
  height: 141px;
  list-style: none;
  background-size: 100% auto;
}

.acount ul>li {
  font-size: 65px;
  color: #c4b098;
  float: left;
  width: 16.66666667%;
  text-align: center;
  line-height: 120px;
}

.navbar-inverse .navbar-brand {
  padding-top: 8px;
  padding-bottom: 0;
  max-width: 220px;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
  color: #8060ff;
  background-color: transparent;
}

.goh_style {
  line-height: 0;
  text-align: center;
}

/* 圖文內容 */
.thumbnail {
  border-radius: 0;
  padding: 10px;
}

.viewPic {
  position: relative;
}

.viewBtn {
  position: absolute;
  bottom: 16px;
  right: 17px;
  width: 54px;
  height: 54px;
  background: url(../images/view.png) no-repeat top;
  cursor: pointer;
  border: none;
  background-size: 100% auto;
}

.viewBtn:hover {
  background-position-y: -54px;
}

.caption h3 {
  font-weight: 700;
}

.caption p {
  font-size: 16px;
}

/* 圖文內容 */

/* 頁籤 */
.breadcrumb {
  justify-content: flex-end;
  margin-bottom: 20px;
  list-style: none;
  text-align: right;
  background: transparent;
  border-radius: 0;
  padding: 0;
  color: #121212;
}

.breadcrumb a {
  color: #121212;
}

.noticeWrap {
  padding: 50px;
  background: #efefef;
}

.nav-pills>li {
  width: 25%;
}

.nav-pills>li+li {
  margin-left: 0;
}

.nav-pills>li>a {
  display: block;
  border-radius: 0;
  padding: 15px;
  text-align: center;
  background: #fff;
  font-weight: 700;
  color: #121212;
  font-size: 24px;
}

.nav-pills>li>a.active,
.nav-pills>li>a.active:focus,
.nav-pills>li>a.active:hover {
  background: #121212;
  color: #fff;
}


/* 除了包含.contents的.tab-content之外 */
.tab-content:not(.contents) {
  margin: 30px 0 0;
}

.tab-content>.tab-pane>ul>li {
  border-bottom: 1px #d2d2d2 dashed;
  position: relative;
  padding: 15px 0;
}

.tab-content>.tab-pane>ul>li>a {
  color: #121212;
  font-weight: 700;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.tab-content span.label {
  border-radius: 0;
  margin-right: 10px;
}

.tab-content i.time {
  position: absolute;
  right: 0;
  color: #121212;
  font-size: 14px;
}

.pagination {
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background: #121212 !important;
  border-color: #121212 !important;
}

.pagination>li>a,
.pagination>li>span {
  line-height: 38px;
  padding: 15px 24px;
  font-size: 18px;
  color: #121212;
  background-color: #fff;
  border: 0.1px solid #ddd;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span,
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
  border-radius: 0;
}

span.badge {
  font-size: 1rem;
  margin-right: 5px;
}

/* 角色選單 */

.charWrap {
  text-align: center;
}

/* 角色選單 */

/* 頁籤 */




@media (max-width: 991px) {
  .mapInfo {
    margin: 0 0 30px;
  }
}

@media (max-width: 850px) {
  .modal-lg {
    width: 95%;
  }
}

@media (max-width: 767px) {

  .modal-footer {
    padding: 5px 20px 5px;
  }

  .titleBox {
    margin: 0;
  }

  .goh_style {
    text-align: left;
  }

  .nav_center {
    display: block;
  }

  .logoBox {
    width: 2.5rem;
    margin: 0 auto;
  }

  div.awardBox .row>div:last-child {
    margin-top: -0.3rem;
  }

  .awardBox {
    margin-bottom: 0.15rem;
  }

  .acount ul,
  .awardBox,
  .register {
    width: 100%;
  }

  div.five-gutters div:nth-child(2) {
    margin-top: 10px;
  }

  .form-control {
    height: 34px;

  }

  .goh_form_group {
    margin: 0.2rem auto;
  }

  .get:after {
    width: 0.8rem;
    height: 1.5rem;
    margin-left: -0.36rem;
  }

}


@media (max-width: 480px) {
  .down-btn {
    width: 60px;
  }

  .sideBtn {
    right: 15px;
    top: 65px;
  }

  .sideBtn ul>li>a {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
  }

  .navbtn ul>li>a {
    padding: 20px 48px;
    font-size: 14px;
  }

  .navbar-inverse .navbar-nav>li>a,
  .form-control,
  label.btn span,
  .fa-2x,
  .nav-pills>li>a,
  .mapInfo ul li {
    font-size: 14px;
  }

  .noticeWrap {
    padding: 15px;
  }

  .form_txt p,
  .copyright .cp .tab-content ul li a {
    font-size: 12px;
  }

  #header .muice {
    margin-top: 10px;
  }
}