#video .black-container {
  padding: 6rem 0;
}
#video .row {
  padding: 3rem 0;
  border-bottom: 1px solid #70080f;
}
#video .video-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding: 0 5rem;
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
position:relative;
padding:0px;
}
.btn-close {
position:absolute;
right:-30px;
top:0;
}

.myVideo:hover {
  filter: drop-shadow(10px 13px 0px #FF0016);
}

/* Media */

/* xxl */
@media (max-width: 1399.98px) { 


}

/* xl */
@media (max-width: 1199.98px) { 
 
}
/* lg */
@media (max-width:991.98px) { 
  #video .video-title {
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;
}
#video .row {
  padding: 2rem 0;
}
}
/* md */
@media (max-width: 767.98px) { 
}

/* sm */
@media (max-width:575.98px) {


}